# This File is Created by Tang Dynasty.
set ADCList {"../../constraints/p1_hx4s20c_hdmi_board.adc"}
set SDCList {"../../constraints/p1_hx4s20c_hdmi_board.sdc"}
set area_option -packarea
set arr_filter false
set device_name eagle_s20.db
set drHoldFix on
set end_step bitgen
set package_name EG4S20BG256
set parent ../syn_1
set prj_name {FPGA_Competition_HDMI}
set run_type phy
set start_step opt_place
set top_model_name {p1_hx4s20c_sdram_hdmi_top}
